<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Init</title>
</head>
<body>
    <h1>
        Página de Inicio
    </h1>
    <p th:text="Saludos"></p>

    <p th:text="${message}"></p>

    <p th:text="${greeting}"></p>

    <br>

    <div th:if="${persons != null and !persons.empty}">

        <table border="1px">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>

            <tr th:each="person : ${persons}">
                <td th:text="${person.name}">Show Name</td>

                <td th:text="${person.surname}">Show Surname</td>

                <td th:text="${person.email}">Show email</td>

                <td th:text="${person.phone}">Show phone</td>
            </tr>

        </table>
    </div>
    <div th:if="${persons != null and !persons.empty}">
        La lista de personas está vacía
    </div>
</body>
</html>