<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Init</title>
</head>
<body>
    <h1>
        Página de Inicio
    </h1>
<p th:text="Saludos"></p>

<p th:text="${message}"></p>

<p th:text="${greeting}"></p>

<br>

Name: <span th:text="${person.name}">Show Name</span>
<br>
Surname: <span th:text="${person.surname}">Show Surname</span>
<br>
Email: <span th:text="${person.email}">Show email</span>
<br>
Phone: <span th:text="${person.phone}">Show phone</span>



</body>
</html>